<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fellowship of the ring</title>
</head>
<body>
  <style>.active{
    background-color: yellow;
  }</style>
<div id="app">
  <h1>{{title}}</h1>
  <ul>
  <li v-for="fellow in fellows" 
      v-on:click="clickOne(fellow)"
      :class="{active:selectedFellows.includes(fellow)}"> 
    {{fellow.name}}
    {{fellow.score}}
  </li>
  </ul>
  <ul class="selected">
    <li v-for="selectedFellow in selectedFellows">{{selectedFellow.name}}</li>
  </ul>
  <div class="counter">{{pointsLeft}}</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var pointsLeft = 20;
    var app = new Vue({
        el: '#app',
        created: function () {
            fetch("storage/storage.json")
                .then(response => response.json())
                .then(data => app.fellows = data);
        },
        data: {
          pointsLeft:pointsLeft,  
            title: 'Fellowship of the Ring',
            fellows: '',
            selectedFellows:[]
        },
        methods:{
          clickOne: function(fellow){
            if (this.selectedFellows.includes(fellow)) {
              this.selectedFellows.splice(this.selectedFellows.indexOf(fellow),1);
              this.pointsLeft = this.pointsLeft + fellow.score;
            }
             else if (this.pointsLeft - fellow.score>=0) {
            this.pointsLeft = this.pointsLeft - fellow.score;
            fellow.selected  = true;
            this.selectedFellows.push(fellow);
            }
          }
        }

    });

</script>

</html>